@media screen and (max-width: 1500px){
	.box1{
		display: none;
	}
	
}
@media screen and (max-width: 400px){
	.box2{
		background-color: transparent;
	}
	.box3{
		background-color: transparent;
	}
	.box4{
		background-color: transparent;
	}
	
}
/* @media screen and (min-width:400px) and (max-width: 1200px){
	.box3{
		width: 30vw;
	}
	.box4{
		width: 30vw;
	}
} */
@media screen and (max-width: 1000px){
	.im{
		display: flex;
		flex-direction: column;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.img1{
		width: 25vw;
	}
}
