@media screen and (max-width: 1500px){
	.box1{
		display: none;
	}
	.im{
		display: flex;
	}
	
}
@media screen and (max-width: 400px){
	.box2{
		background-color: transparent;
		border: none;
	}
	.box3{
		background-color: transparent;
		border: none;
	}
	.box4{
		background-color: transparent;
		border: none;
	}
	
}
@media screen and (max-width: 1000px){
	.im{
		display: flex;
		/* flex-direction: column; */
		margin: 2px;
	}
	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.img1{
		width: 25vw;
	}
}

@media screen and (max-width: 600px){
	.img1{
		width: 50vw;
	}
}