*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.box1{
	width: 30vw;
	height: 80vh;
	/* border: solid 2px red; */
	background: url(images/background.png);
}
.box2{
      /* border: solid 2px green; */
    /* width: 25vw; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
#img{
	    position: absolute;
    top: 171px;
    height: 434.5px;
    left: 493px;
    width: 247px;
}
.box3{
       display: flex;
    width: 375px;
    /* padding: 0px; */
    height: 355px;
    background-color: white;
    flex-direction: column;
    align-content: center;
    align-items: center;    border: solid 2px #e9e6e6;
}
.box4{
	background-color: white;
    margin-top: 23px;
    width: 375px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;    border: solid 2px #e9e6e6;
}
.box4 a{
	text-decoration: none;
	color: #0095f6;
}
.img1{
	    height: 51px;
    width: 17vw;
    margin: 27px auto;
}
.inp{
    width: 287px;
    height: 28px;
    border: solid 2px #e8e9eb;
    margin: -5px;
    border-radius: 4px;
    padding: 5px;
    background-color: #f5f5f5;

}
#btn{
	    width: 302px;
    margin-top: 14px;
    background-color: #0095f6;
    color: white;
	height: 29px;
	font-weight: bold;
	cursor: pointer;
}
#line{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hr{
	     width: 7.5vw;
    display: inline-flex;
    height: 0px;
    color: #f0f2f5;
    margin: 7px;
}

#para1{
    text-decoration: none;
    margin: 17px;
    font-weight: bold;
    color: #385185;
}
#para2{
    text-decoration: none;
    /* margin: 17px; */
    font-weight: bold;
	font-size: 10px;
    color: #385185;
}

.box5{
	    height: 10vh;
    display: flex;
    flex-direction: column;
    /* border: solid 2px red; */
    margin-top: 25px;
    align-content: center;
    align-items: center;
}
.box5 img{
	    width: 122px;
    margin-top: 17px;
	cursor: pointer;
}